body, html{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

:root{
    ---color1: rgb(9, 0, 10) ;
}

/*----------- CABEÇAHO ---------- */
header{
    width: 100vw;
    display: flexbox;
    background-color: black;
    padding: 20px;
    background-image: linear-gradient(to right, rgb(0, 0, 0), blueviolet);
}

header > h1{
    font-size: 2em;
    text-align: center;
    color: white;
}

header > p {
    color: white;
    text-align: center;
    margin: -20px 0px 0px 0px;
}

/* ------MENU DE NAVEGAÇÃO------- */
nav{
    color: white;
    display: flex;
}
nav ul{
    color: white;
    display: inline-flex;
    list-style: none;
    justify-content:start;
}
nav li{
    padding: 10px; 
    color: white;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 10px;
}

/* --------CONTEUDO PRINCIPAL-------- */
main{
    background-color: rgb(236, 236, 236);
    margin: -22px 0px 0px 0px;
    padding: 20px;
    width: 100vw;
}

/* SUBTITULO */
main h2{
    color: rgb(231, 231, 231);
    background-image: linear-gradient(to right, black, blueviolet);
    padding: 10px;
    text-indent: 10px;
}

main p{
    color: rgb(0, 0, 0);
    text-indent: 20px;
    font-size: 1.2em;
    text-align: justify;
}

main img{
    width: 100%;
    border-radius: 5px;
}




/* RODA PÉ */
footer{
    text-align: center;
}

/* DESTAQUE */
strong{
    color: rgb(174, 0, 197);
}




